#meme-panel {
    float: right;

    --img_size: 500px;
    width: var(--img_size);
    
    transform: translateX(calc(var(--img_size) * 1.5));
    transition: transform 1s ease-in-out;
}

#meme-navigation {
    display: flex;
    margin-bottom: 20px;
}

#meme-navigation > button {
    flex: 1;
    height: 50px;
}

#meme-navigation > button:hover {
  transform: scale(1.15);
}

#meme-media {
    display: block;
    width: 100%;
    height: auto;
}

#serving-memes {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

#meme-panel.active {
    transform: translateX(0px);
}

#discord-meme-button {
    width: 50%;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
}

.copytooltip {
  position: relative;
  display: inline-block;
}

.copytooltip .copytooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copytooltip .copytooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copytooltip:hover .copytooltiptext {
  visibility: visible;
  opacity: 1;
}