@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

@property --move {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

* {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
}

svg#lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4;
}

.ac-panel-holder {
  padding: 50px;
}

.ac-panel {
  position: absolute;
  display: inline;

  --move: 0px;
  opacity: 1;
  transform: translateX(var(--move));

  width: 200px;
  background: #414141;
  color:white;
}

.ac-sub-panel {
  color:white;
}

.ac-sub-panel-content {
  margin-right: 30px;
  margin-left: 30px;
}

.ac-sub-panel > button {
  display: block;
  background: #a3b1d1;
  transition: transform 0.25s ease;

  width: 100%;
  height: 30px;
  border: 0px;
}

.ac-sub-panel > button:hover {
  display: block;
  background: rgb(255, 255, 255);

  transform: scale(1.15);
  z-index: 10;
}

.ac-anim-trigger {
  transition: opacity 0.5s ease, --move 0.5s ease;
}

.ac-sub-active {
  pointer-events: auto;
}

.ac-active .ac-sub-inactive {
  pointer-events: none;
  opacity: 0.15;
}

.ac-inactive .ac-sub-inactive {
  pointer-events: none;
  opacity: 0.3;
}

.ac-active.ac-panel {
  pointer-events: auto;
}

.ac-active {
  --move: 0px;
  opacity: 1;
}

.ac-inactive {
  pointer-events: none;
  opacity: 1;
}

.ac-move-left {
  --move: -500px;
  flex-direction: row;
  opacity: 0.3;
}

.ac-move-right {
  --move: 350px;
  opacity: 0.3;
  filter: blur(1px);
}

.ac-move-far-right {
  --move: 600px;
  opacity: 0.15;
  filter: blur(3px);
}

.ac-move-very-far-right {
  --move: 600px;
  opacity: 0;
}

.ac-line-dep-0 {
  stroke: url(#gradient_0);
}

.ac-line-dep-1 {
  stroke: url(#gradient_1);
}

.ac-line-dep-2 {
  stroke: url(#gradient_2);
}