@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

@property --move {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

* {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
}

svg#lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4;
}

.ac-panel-holder {
  padding-left: 25px;
}

.ac_panel_header {
  background: hsl(15, 92%, 50%);
  color: white;

  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ac-sub-panel {
  color: hsl(0, 0%, 90%);
  background: hsl(0, 0%, 25%);
  margin-bottom: 20px;
}

.ac-panel {
  position: absolute;
  display: inline;

  padding: 25px;

  --move: 0px;
  opacity: 1;
  transform: translateX(var(--move));

  width: 200px;
  color:white;
  
  max-height: 80%; 
  overflow-y: auto;

  overscroll-behavior: contain;
  scrollbar-width: none;
}


.ac-panel::-webkit-scrollbar {
  display: none;
}

.ac-sub-panel-content {
  padding-top: 0.01px;
  text-align: center;
}

.text-link {
  display: block;

  border: 5px;
  font-size: 18px;
  border-style: outset;

  color: black;
  background: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 100%);
  
  border-radius: 5px;
  transition: transform 0.25s ease;
}

.text-link:hover {
  transform: scale(1.075);
}

.ac-sub-panel > button {
  display: block;
  height: 40px;
  width: 100%;

  border: 5px;
  font-size: 18px;
  border-style: outset;
  transition: transform 0.25s ease;
  
  color: white;
  background: hsl(0, 0%, 40%);
  border-color: hsl(0, 0%, 50%);
}

.ac-sub-panel > button:hover {
  color: black;
  background: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 100%);

  transform: scale(1.15);
}

.ac-anim-trigger {
  transition: filter 0.5s ease, opacity 0.5s ease, --move 0.5s ease;
}

.ac-sub-active {
  pointer-events: auto;
}

.ac-active .ac-sub-inactive {
  pointer-events: none;
  opacity: 0.1;
  filter: blur(1px);
}

.ac-inactive .ac-sub-inactive {
  pointer-events: none;
  opacity: 0.3;
}

.ac-active.ac-panel {
  pointer-events: auto;
}

.ac-active {
  --move: 0px;
  opacity: 1;
}

.ac-inactive {
  pointer-events: none;
  opacity: 1;
}

.ac-move-left {
  --move: -500px;
  flex-direction: row;

  opacity: 0.1;
  filter: blur(25px);
}

.ac-move-right {
  --move: 350px;
  opacity: 0.3;
  filter: blur(1px);
}

.ac-move-far-right {
  --move: 600px;
  opacity: 0.15;
  filter: blur(3px);
}

.ac-move-very-far-right {
  --move: 600px;
  opacity: 0;
}

.ac-line-dep-0 {
  stroke: url(#gradient_0);
}

.ac-line-dep-1 {
  stroke: url(#gradient_1);
}

.ac-line-dep-2 {
  stroke: url(#gradient_2);
}