@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

* {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
}

svg#lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4;
}

.ac-panel-holder {
  padding: 50px;
}

.ac-panel {
  position: absolute;
  display: inline;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;

  background: #60aaff55;
  height: 500px;
}

.ac-panel > h2 {
  margin-right: 30px;
  margin-left: 30px;
}

.ac-panel > button {
  display: block;

  width: 100%;
  height: 30px;
  border: 0px;
}

.ac-inactive {
  pointer-events: none;
}

.ac-active {
  transform: translateX(0);   
  pointer-events: auto;
}

.ac-move-left {
  transform: translateX(-1000px);
  opacity: 0;
}

.ac-move-right {
  transform: translateX(300px);
  opacity: 0.5;
}

.ac-move-far-right {
  transform: translateX(500px);
  opacity: 0.25;
}

.ac-move-very-far-right {
  transform: translateX(600px);
  opacity: 0;
}

.ac-line-dep-0 {
  stroke: url(#gradient_0);
}


.ac-line-dep-1 {
  stroke: url(#gradient_1);
}

.ac-line-dep-2 {
  stroke: url(#gradient_2);
}