@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

html {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
}

.ac-panel {
    position: absolute;
    display: inline;
    transition: transform 0.5s ease;
}

.ac-inactive {
    pointer-events: none;
}

.ac-active {
    transform: translateX(0);   
    pointer-events: auto;
}

.ac-move-left {
    transform: translateX(-100vw);
}

.ac-move-right {
    transform: translateX(100vw);
}