@import url('https://fonts.googleapis.com/css2?family=Doto:wght@900&display=swap');

@property --move {
  syntax: "<length>";
  initial-value: 0px;
  inherits: false;
}

@property --skew_prog {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

* {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
}

svg#lines {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4;
}

.ac-panel-holder {
  padding: 50px;
}

.ac-panel {
  position: absolute;
  display: inline;

  --move: 0px;
  --skew: 0deg;

  opacity: 1;
  transform: 
    translateX(var(--move)) 
    skew(calc(var(--skew) * var(--skew_prog)));

  width: 240px;
  background: #60aaff55;
}

.ac-sub-panel {
  /*ignore*/
}

.ac-sub-panel-content {
  margin-right: 30px;
  margin-left: 30px;
}

.ac-sub-panel > button {
  display: block;

  width: 100%;
  height: 30px;
  border: 0px;
}

.ac-anim-trigger {
  transition: opacity 0.5s ease, --move 0.5s ease;
  animation: PanelSkewAnim 0.5s ease;
}

.ac-sub-active {
  pointer-events: auto;
}

.ac-sub-inactive {
  pointer-events: none;
  opacity: 0.3;
}

.ac-active.ac-panel {
  pointer-events: auto;
}

.ac-active {
  --move: 0px;
  --skew: 5deg;
  opacity: 1;
}

.ac-inactive {
  pointer-events: none;
  opacity: 1;
}

.ac-move-left {
  --move: -500px;
  --skew: 4deg;
  flex-direction: row;
  opacity: 0.5;
}

.ac-move-right {
  --move: 450px;
  --skew: 4deg;
  opacity: 0.5;
}

.ac-move-far-right {
  --move: 750px;
  --skew: 3deg;
  opacity: 0.25;
}

.ac-move-very-far-right {
  --move: 750px;
  --skew: 2deg;
  opacity: 0;
}

@keyframes PanelSkewAnim {
  0% {
    --skew_prog: 0;
  }
  50% {
    --skew_prog: 1;
  }
  100% {
    --skew_prog: 0;
  }
}

.ac-line-dep-0 {
  stroke: url(#gradient_0);
}

.ac-line-dep-1 {
  stroke: url(#gradient_1);
}

.ac-line-dep-2 {
  stroke: url(#gradient_2);
}