#meme-panel {
    float: right;

    --img_size: 500px;
    width: var(--img_size);
    
    transform: translateX(calc(var(--img_size) * 1.5));
    transition: transform 1s ease-in-out;
}

#meme-navigation {
    display: flex;
    height: 50px;
    margin-bottom: 5px;
}

#meme-navigation > button {
  flex: 1;
  background: #a3b1d1;
  transition: transform 0.25s ease;
}

#meme-navigation > button:hover {
  background: rgb(255, 255, 255);
  transform: scale(1.15);
}

#meme-media {
    display: block;
    width: 100%;
    height: auto;
}

#serving-memes {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

#meme-panel.active {
    transform: translateX(0px);
}