* {
	margin-left: auto; 
  	margin-right: auto;

    font-family: Consolas, monaco, monospace;
    color:rgb(60, 155, 60);
    text-shadow: 0 0 15px rgb(60, 155, 60);
}

p, pre {
    text-shadow: 0 0 10px rgb(113, 192, 113);
}

a {
    color:rgb(178, 102, 185);
    text-shadow: 0 0 20px rgb(178, 102, 185);
}

html {
    width: 95%;
    height: 95%;  
    padding: 2%;
    background-color: black;
}

body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

#terminal-input {
    background: #00000000;
    font-size: 12pt;
    text-shadow: 0 0 10px rgb(113, 192, 113);
    border: none;

    width: 100%;
    height: 100%;

    padding: 0px;
    padding-left: 10px;
}

#terminal-input:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(51, 173, 51, 0.233);
    background: rgba(4, 48, 4, 0.233);

}

#terminal-form {
    background: #ffffff0e;

    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;

    padding: 0px;
    width: 90%;
    height: 30px;
}