name: Generate file list

permissions:
  contents: write

on:
  push:
    paths:
      - "assets/**"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate JSON meme list
        run: |
          ls assets | jq -R . | jq -s '{ files: . }' > docs/memes.json

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update meme list"
          file_pattern: docs/memes.json
